{{ define "header" }}
{{ end }}

{{ define "content" }}
<div class="container text-center p-10">

    <p class="text-purple-100 mb-2">Please login before continue</p>
    <a class="sm:w-auto flex-none" href="/auth/google" alt="SignIn with Google" title="SignIn with Google"><img class="inline-block hover:border-mbrblue border-2" src="/images/buttons/google.png"/></a>

</div>

{{ end }}

{{ define "additional_head" }}
{{ end }}

{{ define "title" }}
Login
{{ end }}