{{ define "bookteaser" }}

  <a href="/book/{{ .Book.ID }}" class="block">

    <img src="{{ .Book.Thumbnail }}" title="{{ .Book.Title }}" alt="{{ .Book.Title }}" class="mx-auto rounded-sm w-30 h-40 shadow-lg hover:shadow-none"/>
  </a>
{{ end }}