{{ define "bookteasers" }}
  <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-10 gap-0 bg-purple-800 rounded-lg p-2">
      {{ range . }}
          <div class="pr-2 pl-2 text-center">
            {{ template "bookteaser" . }}
          </div>
      {{ end }}
  </div>
{{ end }}