{{ define "recbookteasers" }}
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-10 gap-0 bg-gray-100 bg-opacity-50 pt-5 shadow-inner rounded-t-lg">
      {{ range . }}
          <div class="border-b-8 border-gray-600 pr-2 pl-2 text-center pt-3 bottom-0">
            {{ template "recbookteaser" . }}
          </div>
      {{ end }}
  </div>
{{ end }}