{{ define "recbookteasers" }}
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-10 gap-0 bg-purple-800 pt-5 rounded-lg">
      {{ range . }}
          <div class="pr-2 pl-2 text-center pt-3 pb-3">
            {{ template "recbookteaser" . }}
          </div>
      {{ end }}
  </div>
{{ end }}